* {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbar {
    border-color: white;
    background-color: white !important;
    height: 80px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 1px solid #ccc;
}

.navbar .container {
    position: absolute;
    top: 50%; right: 5%;
    width: 90%;
    height: 50px;
    margin: -25px 0 0 0;
    box-sizing: border-box;
}

.nav a:hover {
    color: rgb(200,200,200) !important;
}

footer {
    height: 300px;
    background: rgba(30,30,30,1);
    position: relative;
}

footer .container {
    position: absolute;
    top: 50%; left: 50%;
    width: 600px;
    height: 120px;
    margin: -60px 0 0 -300px;
    box-sizing: border-box;
    color: white;
}

footer p {
    text-align: center;
}

footer p:last-of-type {
    margin-top: 50px;
}

footer a,
footer a:visited {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color:white;
    text-decoration: none;
}